<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room - {{ room.name }}</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            padding: 20px;
            background-color: #f8f9fa;
            margin: 0;
        }

        h1 {
            color: #007BFF;
            margin-bottom: 20px;
            font-size: 28px;
        }

        /* Add your custom styles for other content as needed */
    </style>
</head>
<body>

    <h1>Room - {{ room.name }}</h1>

</body>
</html>
